<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  
  <display-name>WSProj-11-JAXWS-RI-Serverside-Hello</display-name>
  <servlet>
  <servlet-name>wsServlet</servlet-name>
  <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>wsServlet</servlet-name>
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <listener>
  <listener-class>
  
  com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  </listener-class>
  
  </listener>
</web-app>